.element__title {
    margin: 25px 0 25px 21px;
    padding: 0;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000000;
}