.header__log-out {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  cursor: pointer;
}

.header__log-out:hover {
  text-decoration: underline;
}
