.header__email {
  margin-right: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.header__email:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .header__email {
      margin: 0 0 18px 0;
    }
}
