.error {
    display: block;
    margin: 5px 0 0 0;
    height: 30px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    box-sizing: border-box;
    overflow: visible;
    visibility: hidden;

    color: #FF0000;
}