.profile {
    margin: 41px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 860px) {
.profile {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}
}