.form__submit {
    margin: 18px 0 0 0;
    width: 100%;
    padding: 14px 0 14px 0;
    border: none;
    border-radius: 2px;
    background-color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.form__submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 665px) {
    .form__submit {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}